@import url("../style/normaliz.css");
@import url("../style/grid.css");
@import url("../style/font.css");
:root {
  --text-color: #333333;
  --shadow-color: rgba(19, 182, 255, 0.24);
  --body-color: #fff;
  --section-color: #fff;
  --orang-color: #f57f17;
  --tifany-color: #09bead;
  --white-color: #fff;
}
/* 

 commen code

*/
/* color */
.color {
  color: var(--text-color);
  background-color: var(--body-color);
}
/* backgrund color */
.perpele {
  background-color: #8540ff;
}
.yellow {
  background-color: #ffc50c;
}
.pink {
  background-color: #ec407a;
}
.hight_orang {
  background-color: #ff6331;
}
.blue {
  background-color: #13b6ff;
}
.green {
  background-color: #49af46;
}
.orang {
  background-color: #ff6331;
}
/* btn */
.btn__commen-class {
  padding: 1.5rem 6rem;
  border-radius: 5rem;
  background-color: var(--tifany-color);
  color: var(--white-color);
  width: 20rem;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "poppins semibold";
}

/* heading */
.heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8rem;
}
.main_heading {
  margin-bottom: 0;
  color: var(--tifany-color);
  font-size: 3.5rem;
  font-family: "poppins bold";
}
.heading_text {
  margin-top: 1rem;
  color: var(--text-color);
  letter-spacing: 0.35rem;
}
.heading_line {
  width: 23rem;
  height: 0.3rem;
  background: var(--tifany-color);
  position: relative;
}
.heading_line::after {
  content: " ";
  background: var(--tifany-color);
  position: absolute;
  width: 4rem;
  height: 1.2rem;
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
  border-radius: 2rem;
  bottom: -0.5rem;
}
/* 

helper class

*/
.alin-item-center {
  align-items: center;
}
.skew-reset {
  transform: skewY(4deg);
}
.h-full {
  height: 100%;
}
/* 

app(main css cod)

*/
/* 

global style

*/
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "poppins";
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--body-color);
}
/* 

reset style

*/
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* 

header

*/
.header {
  background-color: var(--body-color);
  box-shadow: 0 0.7rem 4rem rgba(4, 195, 255, 16%);
  z-index: 100;
  position: fixed;
  right: 0;
  left: 0;
}
/* 

navigation

*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}
.nav__menu-logo {
  color: var(--tifany-color);
  font-size: 5rem;
  font-family: "poppins black";
  margin: 0;
}
.nav__menu-list {
  display: flex;
  align-items: center;
  z-index: 100;
}
.nav__menu-item {
  margin-left: 3rem;
}
.nav__menu-item:first-child {
  margin-left: 0;
}
.nav__menu-link {
  display: inline-block;
  font-family: "Poppins Medium";
  transition: all 150ms ease-in 150ms;
}
.nav__menu-link:hover {
  color: var(--tifany-color);
}
/*

creat icon for mobile

*/
.nav__close-icon {
  display: none;
  width: 5rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
}
.nav__close-line {
  position: relative;
}
.nav__close-line::before,
.nav__close-line::after,
.nav__close-line {
  content: " ";
  background-color: var(--tifany-color);
  width: 4rem;
  height: 0.5rem;
  display: block;
  border-radius: 3rem;
  transition: all 200ms ease-in;
}
.nav__close-line::after {
  top: 1rem;
  position: absolute;
}
.nav__close-line::before {
  top: -1rem;
  position: absolute;
}
.nav__close-icon--open .nav__close-line::after {
  transform: translateY(-1rem) rotate(-45deg);
}
.nav__close-icon--open .nav__close-line::before {
  transform: translateY(1rem) rotate(45deg);
}
.nav__close-icon--open .nav__close-line {
  background-color: var(--body-color);
}
/* 

main

*/

main {
  padding-top: 13.5rem;
}
/* 

home section

*/
.home {
  margin-top: 8rem;
  position: relative;
  overflow: hidden;
  height: 79rem;
}
.home__header--shape {
  position: absolute;
  bottom: 0;
  right: -29rem;
}
.content__wrapper {
  line-height: 1;
}
.content__username {
  font-family: "poppins semibold";
  font-size: 2.8rem;
  color: var(--tifany-color);
}
.content__username > span {
  color: var(--orang-color);
}
.content__title {
  font-family: "poppins bold";
  font-size: 4rem;
  margin: 0;
  color: var(--tifany-color);
}
.content__text {
  opacity: 0.7;
}
.home__links-wapper {
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
}
.home__link {
  box-shadow: 0 1.6rem 2rem rgba(11, 190, 173, 41%);
}
.home__link:last-child {
  background-color: var(--orang-color);
  margin-right: 0;
  box-shadow: 0 1.6rem 2rem rgba(245, 127, 23, 24%);
}
.home__photo {
  background-image: url(../images/page-img/header-avatar.jpg);
  width: 45rem;
  height: 45rem;
  border-radius: 100%;
  background-position: -5rem;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2rem solid var(--body-color);
  box-shadow: 0 0 5.8rem rgba(96, 233, 255, 27%);
}
/* 

about us section

*/
.about-us {
  margin-top: 20rem;
}
.about_us--content {
  box-shadow: 0 0 5.9rem rgba(96, 233, 255, 0.27);
  display: flex;
}
.abut_img--content {
  flex-basis: 50%;
}
.about_us--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about_right_content--wraper {
  flex-basis: 50%;
  padding: 1rem 3rem;
}
.about_us--content_title {
  font-family: "poppins semibold";
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.about_us--text {
  max-width: 52rem;
}
.about_us--item_title {
  font-family: "poppins semibold";
  color: var(--tifany-color);
  margin: 5rem 0 1rem 0;
  font-size: 1.8rem;
}
.about_us--list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding-left: 2rem;
  margin-bottom: 4rem;
}
.about_us--item {
  position: relative;
  padding-left: 3rem;
}
.about_us--item::before {
  content: " ";
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--orang-color);
  position: absolute;
  border-radius: 100%;
  bottom: 0;
  top: 0;
  margin: auto 0;
  left: 0;
}
.about_us--links-wapper {
  display: flex;
  gap: 2rem;
  margin-bottom: 3.5rem;
}
.about__link {
  box-shadow: 0 1.6rem 2.9rem rgba(11, 190, 173, 0.41);
}
.about__link:last-child {
  box-shadow: 0 1.6rem 2.9rem rgba(245, 127, 23, 0.24);
  background-color: var(--orang-color);
}
/* 

services section

*/
.services {
  margin-top: 20rem;
}
.services__wraper > .row > * {
  margin-bottom: 3rem;
}
.service_item--web_design {
  background-color: #8540ff;
}
.service_item {
  color: #fff;
  text-align: center;
  padding: 3rem 1rem;
  position: relative;
  overflow: hidden;
}
.service_item--wrper {
  position: relative;
  z-index: 2;
}
.service_item > .background__svg {
  position: absolute;
  bottom: -5.9rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
}
.service_item--title {
  font-family: "Poppins Bold";
  font-size: 2rem;
  margin: 1rem 0;
}
.service_item--text {
  margin: 0;
}
/* 

resume section

*/
/* 

resume section( list item )

*/
.resume {
  background-color: var(--body-color);
  box-shadow: 0 0 8rem rgba(19, 182, 255, 0.24);
  margin-top: 20rem;
  padding: 8rem 0;
  transform: skewY(-4deg);
}
.resume_title--list {
  position: relative;
  z-index: 0;
  background-color: var(--section-color);
  box-shadow: 0 0 4rem rgba(96, 233, 255, 0.27);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 40rem;
  margin-right: 4rem;
}
.resume_title--list::before {
  content: " ";
  height: 100%;
  width: 3rem;
  background-color: #0abead;
  position: absolute;
  z-index: -1;
  left: 0;
}
.resume_title--item {
  margin-bottom: 2.3rem;
  display: flex;
  align-items: center;
  position: relative;
  padding: 1rem 0;
  cursor: pointer;
}
.resume_title--item:last-child {
  margin-bottom: 0;
}
.resume_title--item::before {
  content: " ";
  width: 5rem;
  background-color: #0abead;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 2rem;
  max-width: 29rem;
}
.resume_title--item_active::before {
  width: 100%;
  transition: all 200ms ease-in;
}
.resume_title--item_active {
  color: #fff;
}
.list__item--icon {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 0.25rem;
}
.list__item--title {
  font-family: "poppins semibold";
  font-size: 1.8rem;
  margin-left: 3rem;
  transition: all 200ms ease-in;
}
/* 

resume section(content)

*/
.resume__content--header,
.resume__content--title,
.resume__content--subtitle {
  margin: 0;
}
.content__resume {
  border-left: 0.3rem solid #0abead;
  padding-left: 2rem;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 300ms ease-in;
}
.resume__content--item_show {
  height: auto;
  overflow: visible;
  opacity: 1;
}
.resume__content--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resume__content--title {
  color: #f57f17;
  font-family: "poppins semibold";
  font-size: 1.9rem;
  position: relative;
}
.resume__content--title::before {
  content: " ";
  background-color: #09bead;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: -3.1rem;
}
.resume__content--date {
  color: #fff;
  background-color: #f57f17;
  padding: 0.7rem 2rem;
  border-radius: 2rem;
  box-shadow: 0 0.5rem 1.7rem rgba(245, 127, 23, 0.24);
}
.resume__content--subtitle {
  font-family: "poppins semibold";
  font-size: 1.6rem;
  margin-top: 0.5rem;
}
.resume__content--description {
  margin-top: 1rem;
  margin-top: 0.5rem;
  max-width: 70rem;
  margin-bottom: 1.5rem;
}

.resume__content--item:last-child > p {
  margin-bottom: 0;
}
/* 

portofilo section

*/
.portfolio {
  margin-top: 20rem;
}
.portofilo__list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
  flex-wrap: wrap;
}
.portofilo_item {
  padding: 1rem 4rem;
  border-radius: 3rem;
  transition: all 200ms ease-in;
  cursor: pointer;
}
.portofilo_item--active {
  background-color: #0abead;

  color: #fff;
}
.swiper-pagination-bullet {
  width: 2.2rem !important ;
  height: 2.2rem !important ;
  border: 5px solid #bfbebe !important;
  background-color: #fff !important;
}
.swiper-pagination-bullet-active {
  border-color: var(--tifany-color) !important;
}
.prtofolio-content__img {
  width: 100%;
}
.swiper-pagination {
  position: static !important;
  margin-top: 1rem !important;
}
.potofolio__content {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 300ms ease-in;
}
.potofolio__content--shows {
  height: auto;
  opacity: 1;
}
/* 

pricing section

*/
.pricing {
  background-color: var(--body-color);
  box-shadow: 0 0 8rem rgba(19, 182, 255, 0.24);
  margin-top: 20rem;
  padding: 8rem 0 14rem;
  transform: skewY(-4deg);
}
.package {
  box-shadow: 0 0 5.2rem rgba(96, 233, 255, 0.27);
}
.package__header_content {
  text-align: center;
  padding: 2rem 0;
  color: #fff;
}
.package_title,
.package_price {
  margin: 0;
  margin-bottom: 0.5rem;
}
.package_title {
  font-family: "poppins semibold";
  font-size: 2.2rem;
}
.package_price {
  font-family: "poppins semibold";
  font-size: 1.8rem;
}
.package_content {
  margin: 0;
}

.package__botton_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 0 5rem;
}
.package__list {
}
.package_items {
  display: flex;
  align-items: baseline;
  gap: 2rem;
  margin-bottom: 2rem;
}
.package_items:last-child {
  margin-bottom: 0;
}
.package_item__icon {
}
.perpele_pricing_btn {
  background-color: #803afb;
  box-shadow: 0 1.6rem 2.8rem rgba(128, 58, 251, 0.24);
}
.pink_pricing_btn {
  background-color: #f5276c;
  box-shadow: 0 1.6rem 2.8rem rgba(245, 39, 108, 0.24);
}
.orang_pricing_btn {
  background-color: #f57f17;
  box-shadow: 0 1.6rem 2.8rem rgba(245, 127, 23, 0.24);
}

.package__btn:nth-child() {
}
/* 

contact us section

*/
.contact_us {
  margin-top: 20rem;
}
.contact_us__wraper {
  background-image: url(../images/page-img/map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem 0 5rem;
  position: relative;
}
.contact__content {
  background-color: var(--section-color);
  max-width: 48rem;
  margin-left: auto;
  padding: 3rem;
  box-shadow: 0 0 4rem rgba(19, 182, 255, 0.24);
}
.inputs__title {
  margin: 0;
  font-family: "poppins bold";
  font-size: 2.2rem;
  color: var(--tifany-color);
}
.content__form {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  flex-direction: column;
  justify-content: flex-start;
}
.content__input {
  padding: 1rem 1.5rem;
  background-color: var(--body-color);
  box-shadow: 0 0 4rem rgba(96, 233, 255, 0.27);
  border: none;
  border-radius: 1rem;
  outline: none;
  color: var(--text-color);
}
.content__input::placeholder {
  color: var(--text-color);
}
.content__textarea {
  resize: vertical;
  max-height: 14rem;
}
.content__btn {
  padding: 1rem 1.5rem;
  background-color: var(--tifany-color);
  color: #fff;
  border-radius: 5rem;
  font-family: "poppins semibold";
  border: none;
  cursor: pointer;
}
.contact_us__location {
  width: 5rem;
  height: 5rem;
  display: flex;
  background-color: #fff;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 4rem rgba(96, 233, 255, 0.27);
  position: absolute;
  top: 40%;
  left: 10%;
}
.contact_us__location_icon {
  width: 2rem;
}
/* 

footer

*/
.footer {
  padding: 2rem 0;
  background-color: var(--body-color);
}
.footer__wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__copr_right {
  letter-spacing: 0.35rem;
  color: var(--text-color);
  font-family: "poppins semibold";
}
.footer__socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.footer__social {
  width: 4rem;
  height: 4rem;
  background-color: #1f2935;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms ease-in 100ms;
}
.footer__social:hover {
  background-color: var(--tifany-color);
}
.footer__social svg {
  width: 3rem;
  height: 3rem;
  fill: var(--section-color);
}
