@font-face {
  font-family: "poppins black";
  src: url("../fonts/Poppins-Black.woff") format(woff);
}
@font-face {
  font-family: "poppins bold";
  src: url("../fonts/Poppins-Bold.woff") format(woff);
}
@font-face {
  font-family: "poppins medium";
  src: url("../fonts/Poppins-Medium.woff") format(woff);
}
@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins-Regular.woff") format(woff);
}
@font-face {
  font-family: "poppins semibold";
  src: url("../fonts/Poppins-SemiBold.woff") format(woff);
}
