@media only screen and (max-width: 1200px) {
  .resume_title--list {
    margin-right: 0;
  }
  .resume_title--item::before {
    max-width: 26rem;
  }
}
@media only screen and (max-width: 992px) {
  .nav__menu-logo {
    font-size: 4.5rem;
  }
  .nav__menu-item {
    margin-left: 1rem;
  }
  .home {
    margin-top: 4rem;
    height: 105rem;
  }
  .home__photo {
    margin: 0 auto;
  }
  .home__top--content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .content__wrapper {
    margin-top: 3rem;
  }
  .row-dir-colum {
    flex-direction: column-reverse;
  }
  .about_us--content {
    flex-direction: column;
  }
  .resume_title--list::before,
  .resume_title--item::before {
    content: none;
  }
  .list__item--icon {
    display: none;
  }
  .resume_title--list {
    flex-direction: row;
    height: auto;
    min-height: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: none;
    background-color: transparent;
    margin-bottom: 1.5rem;
  }
  .resume_title--item_active {
    background-color: var(--tifany-color);
  }
  .resume_title--item {
    margin: 0 1.5rem 1.5rem 0;
    border-radius: 3rem;
    padding: 1rem 2rem;
    font-family: "poppins";
  }
  .list__item--title {
    margin: 0;
    font-family: "poppins";
  }
  .package {
    margin-bottom: 3rem;
  }
  .footer__wraper {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .about_right_content--wraper {
    padding: 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .nav__menu-list {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    left: 0;
    right: 0;
    top: -28.8rem;
    transition: all 200ms ease-in;
    background-color: var(--body-color);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
  .nav__menu-list--open {
    top: 100%;
  }
  .nav__menu-item {
    margin-left: 0rem;
    margin-bottom: 1.5rem;
  }
  .nav__menu-item:first-child {
    margin-left: 0rem;
    margin-top: 1.5rem;
  }
  .nav__close-icon {
    display: flex;
  }
  .cover {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    transition: all 200ms ease-in;
    top: 0;
  }
  .cover--active {
    background-color: rgba(0, 0, 0, 5%);
    z-index: 99;
  }
  .contact_us__location {
    display: none;
  }
  .contact__content {
    margin: 0 auto;
  }
  * {
    cursor: default !important;
  }
}
@media only screen and (max-width: 576px) {
  .home__links-wapper {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  .home__link {
    width: 100%;
  }
  .home {
    height: auto;
  }
  .home__photo {
    width: 40rem;
    height: 40rem;
  }
  .home__header--shape {
    display: none;
  }
  .home {
    overflow: visible;
  }
  .about_us--links-wapper {
    flex-direction: column;
  }
  .about__link {
    width: 100%;
  }
}
@media only screen and (max-width: 460px) {
  .home__photo {
    width: 35rem;
    height: 35rem;
    background-position: -5rem;
  }
  .content__username {
    font-size: 2.2rem;
  }
  .content__title {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 390px) {
  .home__photo {
    width: 32rem;
    height: 32rem;
  }
}
@media only screen and (max-width: 370px) {
  .home__photo {
    width: 28rem;
    height: 28rem;
    background-position: -5rem;
  }
}
@media only screen and (max-width: 350px) {
  .home__photo {
    width: 22rem;
    height: 22rem;
    background-position: -2rem;
  }
}
@media only screen and (max-width: 300px) {
  .home__photo {
    width: 20rem;
    height: 20rem;
    background-position: center;
  }
}
